In [1]:
import pandas as pd

# 2017 Data

In [2]:
NWHL_2017 = pd.read_excel('NWHL Skater and Team Stats 2017-18.xlsx', sheet_name='NWHL Skaters 201718')

In [3]:
CWHL_2017 = pd.read_excel('CWHL Skater and Team Stats 2017-18.xlsx', sheet_name='Skaters')

In [4]:
NWHL_2017.shape

(86, 36)

In [5]:
NWHL_2017.columns

Index(['No', 'Tm', 'Name', 'P', 'Ht', 'Rk', 'S', 'Age', 'Nat', 'GP', 'SOG',
       'G', 'A', 'A1', 'P.1', 'P1', 'ES G', 'ES A', 'ES A1', 'ES P', 'ES P1',
       'PP G', 'PP A', 'PP A1', 'PP P', 'PP P1', 'SH G', 'SH A', 'SH A1',
       'SH P', 'SH P1', 'EN', 'Sh%', 'SOG/G', 'Pts/G', 'PIM'],
      dtype='object')

In [6]:
CWHL_2017.shape

(156, 29)

In [7]:
CWHL_2017.columns

Index(['Name', '#', 'Pos', 'Team', 'GP', 'G', 'A', 'A1', 'P', 'P1', 'ES G',
       'ES A', 'ES A1', 'ES P', 'ES P1', 'PP G', 'PP A', 'PP A1', 'PP P',
       'PP P1', 'SH G', 'SH A', 'SH A1', 'SH P', 'SH P1', 'ENG', 'Pts/GP',
       'PIM', 'Pl/Mi'],
      dtype='object')

## Clean NWHL Table

In [8]:
NWHL_2017.drop(columns=['SOG', 'Sh%', 'SOG/G'], inplace = True)

In [9]:
NWHL_2017.shape

(86, 33)

In [10]:
NWHL_2017.rename(columns={'Tm': 'Team', 'Name': 'Player', 'P':'Pos', 'P.1': 'P','EN':'ENG', 'Pts/G': 'Pts/GP'}, inplace=True)

In [11]:
NWHL_2017.insert(1, 'League', ['NWHL']*len(NWHL_2017))

,No,League,Team,Player,Pos,Ht,Rk,S,Age,Nat,...,PP P,PP P1,SH G,SH A,SH A1,SH P,SH P1,ENG,Pts/GP,PIM
0,11,NWHL,MET,Alexa Gruschow,F,"5'7""",NaN,R,23.0,USA,...,7.0,5.0,2.0,NaN,NaN,2.0,2.0,NaN,1.38,26.0
1,14,NWHL,MET,Madison Packer,F,"5'9""",NaN,R,26.0,USA,...,6.0,6.0,NaN,1.0,NaN,1.0,0.0,NaN,1.50,10.0
2,14,NWHL,BOS,Jillian Dempsey,F,"5'4""",NaN,L,26.0,USA,...,2.0,1.0,NaN,NaN,NaN,0.0,0.0,NaN,0.94,2.0
3,18,NWHL,MET,Rebecca Russo,F,"5'4""",NaN,L,23.0,USA,...,6.0,5.0,NaN,NaN,NaN,0.0,0.0,1 ES,1.06,0.0
4,14,NWHL,BUF,Hayley Scamurra,F,"5'8""",Y,L,22.0,USA,...,3.0,1.0,1.0,NaN,NaN,1.0,1.0,1 PP,1.00,16.0

In [12]:
NWHL_2017['Rk'].fillna('N', inplace=True)

In [13]:
keys = NWHL_2017.columns[15:33]

In [14]:
fill_dict={key: 0 for key in keys}

In [15]:
NWHL_2017.fillna(fill_dict, inplace=True)

In [16]:
NWHL_2017.isnull().sum()

No        0
League    0
Team      0
Player    0
Pos       0
Ht        0
Rk        0
S         1
Age       1
Nat       0
GP        1
G         0
A         0
A1        0
P         0
P1        0
ES G      0
ES A      0
ES A1     0
ES P      0
ES P1     0
PP G      0
PP A      0
PP A1     0
PP P      0
PP P1     0
SH G      0
SH A      0
SH A1     0
SH P      0
SH P1     0
ENG       0
Pts/GP    0
PIM       2
dtype: int64

In [17]:
NWHL_2017['GP'].fillna('0', inplace=True)

In [18]:
NWHL_2017['Pl/Mi']=[None]*len(NWHL_2017)

In [19]:
NWHL_2017_csv = pd.read_csv('NWHL_2017.csv')

In [20]:
NWHL_2017_csv.head()

,No,Team,Player,Pos,Ht,Rk,S,Age,Nat,GP,...,PP P1,SH G,SH A,SH A1,SH P,SH P1,ENG,Pts/G,PIM,Pl/Mi
0,11,MET,Alexa Gruschow,F,"5'7""",N,R,23.0,USA,16.0,...,5.0,2.0,0.0,0.0,2.0,2.0,0,1.38,26.0,NaN
1,14,MET,Madison Packer,F,"5'9""",N,R,26.0,USA,12.0,...,6.0,0.0,1.0,0.0,1.0,0.0,0,1.50,10.0,NaN
2,14,BOS,Jillian Dempsey,F,"5'4""",N,L,26.0,USA,16.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0,0.94,2.0,NaN
3,18,MET,Rebecca Russo,F,"5'4""",N,L,23.0,USA,16.0,...,5.0,0.0,0.0,0.0,0.0,0.0,1 ES,1.06,0.0,NaN
4,14,BUF,Hayley Scamurra,F,"5'8""",Y,L,22.0,USA,14.0,...,1.0,1.0,0.0,0.0,1.0,1.0,1 PP,1.00,16.0,NaN

In [21]:
NWHL_2017_csv.shape

(86, 34)

In [22]:
NWHL_2017_csv.columns

Index(['No', 'Team', 'Player', 'Pos', 'Ht', 'Rk', 'S', 'Age', 'Nat', 'GP', 'G',
       'A', 'A1', 'P', 'P1', 'ES G', 'ES A', 'ES A1', 'ES P', 'ES P1', 'PP G',
       'PP A', 'PP A1', 'PP P', 'PP P1', 'SH G', 'SH A', 'SH A1', 'SH P',
       'SH P1', 'ENG', 'Pts/G', 'PIM', 'Pl/Mi'],
      dtype='object')

## Clean CWHL Table

In [23]:
CWHL_2017.columns

Index(['Name', '#', 'Pos', 'Team', 'GP', 'G', 'A', 'A1', 'P', 'P1', 'ES G',
       'ES A', 'ES A1', 'ES P', 'ES P1', 'PP G', 'PP A', 'PP A1', 'PP P',
       'PP P1', 'SH G', 'SH A', 'SH A1', 'SH P', 'SH P1', 'ENG', 'Pts/GP',
       'PIM', 'Pl/Mi'],
      dtype='object')

In [24]:
CWHL_2017.rename(columns={'Name': 'Player', '#':'No'}, inplace=True)

In [25]:
CWHL_2017.columns

Index(['Player', 'No', 'Pos', 'Team', 'GP', 'G', 'A', 'A1', 'P', 'P1', 'ES G',
       'ES A', 'ES A1', 'ES P', 'ES P1', 'PP G', 'PP A', 'PP A1', 'PP P',
       'PP P1', 'SH G', 'SH A', 'SH A1', 'SH P', 'SH P1', 'ENG', 'Pts/GP',
       'PIM', 'Pl/Mi'],
      dtype='object')

In [26]:
CWHL_2017.tail()

,Player,No,Pos,Team,GP,G,A,A1,P,P1,...,PP P1,SH G,SH A,SH A1,SH P,SH P1,ENG,Pts/GP,PIM,Pl/Mi
151,Naixin Zhou,56,D,VR,27.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,2.0
152,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154,NOTE:,Special team counting stats and team stats sho...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
155,NaN,The data in the table above reflects what the ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
CWHL_2017.drop(labels=[152,153, 154, 155], inplace=True)

In [28]:
keys2 = CWHL_2017.columns[10:29]
fill_dict={key: 0 for key in keys2}
fill_dict

{'ES G': 0,
 'ES A': 0,
 'ES A1': 0,
 'ES P': 0,
 'ES P1': 0,
 'PP G': 0,
 'PP A': 0,
 'PP A1': 0,
 'PP P': 0,
 'PP P1': 0,
 'SH G': 0,
 'SH A': 0,
 'SH A1': 0,
 'SH P': 0,
 'SH P1': 0,
 'ENG': 0,
 'Pts/GP': 0,
 'PIM': 0,
 'Pl/Mi': 0}

In [29]:
CWHL_2017.fillna(fill_dict, inplace=True)
CWHL_2017.head()

,Player,No,Pos,Team,GP,G,A,A1,P,P1,...,PP P1,SH G,SH A,SH A1,SH P,SH P1,ENG,Pts/GP,PIM,Pl/Mi
0,Kate Leary,28,F,BOS,28.0,7.0,9.0,8.0,16.0,15.0,...,9.0,0.0,0.0,0.0,0.0,0.0,0,0.571429,18.0,-31.0
1,Meghan Grieves,17,F,BOS,28.0,6.0,8.0,6.0,14.0,12.0,...,8.0,0.0,0.0,0.0,0.0,0.0,0,0.500000,12.0,-32.0
2,Melissa Bizzari,23,F,BOS,25.0,4.0,8.0,7.0,12.0,11.0,...,5.0,1.0,0.0,0.0,1.0,1.0,0,0.480000,8.0,-22.0
3,Megan Myers,15,F,BOS,20.0,3.0,6.0,5.0,9.0,8.0,...,4.0,0.0,0.0,0.0,0.0,0.0,0,0.450000,10.0,-24.0
4,Michelle Ng,5,F,BOS,20.0,4.0,5.0,3.0,9.0,7.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0,0.450000,12.0,-9.0

In [30]:
CWHL_2017_format = CWHL_2017[['No', 'Team', 'Player', 'Pos']]

In [31]:
CWHL_2017_format.tail()

     No Team           Player Pos
147   7   VR      Bowen Jiang   F
148  19   VR  Yue Hou (total)   D
149  58   VR      Jinqiu Xiao   D
150  90   VR      Jia Chao Xu   D
151  56   VR      Naixin Zhou   D

In [32]:
end_col = list(CWHL_2017.columns[4:])

In [33]:
CWHL_2017_df2 = CWHL_2017[end_col]
CWHL_2017_format = pd.concat([CWHL_2017_format, CWHL_2017_df2], axis=1)
CWHL_2017_format

,No,Team,Player,Pos,GP,G,A,A1,P,P1,...,PP P1,SH G,SH A,SH A1,SH P,SH P1,ENG,Pts/GP,PIM,Pl/Mi
0,28,BOS,Kate Leary,F,28.0,7.0,9.0,8.0,16.0,15.0,...,9.0,0.0,0.0,0.0,0.0,0.0,0,0.571429,18.0,-31.0
1,17,BOS,Meghan Grieves,F,28.0,6.0,8.0,6.0,14.0,12.0,...,8.0,0.0,0.0,0.0,0.0,0.0,0,0.500000,12.0,-32.0
2,23,BOS,Melissa Bizzari,F,25.0,4.0,8.0,7.0,12.0,11.0,...,5.0,1.0,0.0,0.0,1.0,1.0,0,0.480000,8.0,-22.0
3,15,BOS,Megan Myers,F,20.0,3.0,6.0,5.0,9.0,8.0,...,4.0,0.0,0.0,0.0,0.0,0.0,0,0.450000,10.0,-24.0
4,5,BOS,Michelle Ng,F,20.0,4.0,5.0,3.0,9.0,7.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0,0.450000,12.0,-9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,7,VR,Bowen Jiang,F,27.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.000000,2.0,-1.0
148,19,VR,Yue Hou (total),D,30.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.000000,22.0,-4.0
149,58,VR,Jinqiu Xiao,D,27.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.000000,0.0,-4.0
150,90,VR,Jia Chao Xu,D,10.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.000000,0.0,-1.0
151,56,VR,Naixin Zhou,D,27.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.000000,0.0,2.0

In [34]:
CWHL_2017_format.isnull().sum()

No        0
Team      0
Player    0
Pos       0
GP        0
G         0
A         0
A1        0
P         0
P1        0
ES G      0
ES A      0
ES A1     0
ES P      0
ES P1     0
PP G      0
PP A      0
PP A1     0
PP P      0
PP P1     0
SH G      0
SH A      0
SH A1     0
SH P      0
SH P1     0
ENG       0
Pts/GP    0
PIM       0
Pl/Mi     0
dtype: int64

In [35]:
empty_col = [None]*len(CWHL_2017_format)
CWHL_2017_format.insert(4, 'Ht', empty_col)
CWHL_2017_format.insert(5, 'Rk', empty_col)
CWHL_2017_format.insert(6, 'S', empty_col)
CWHL_2017_format.insert(7, 'Age', empty_col)
CWHL_2017_format.insert(8, 'Nat', empty_col)
CWHL_2017_format.insert(1, 'League', ['CWHL']*len(CWHL_2017_format))
CWHL_2017_format.head()

,No,League,Team,Player,Pos,Ht,Rk,S,Age,Nat,...,PP P1,SH G,SH A,SH A1,SH P,SH P1,ENG,Pts/GP,PIM,Pl/Mi
0,28,CWHL,BOS,Kate Leary,F,None,None,None,None,None,...,9.0,0.0,0.0,0.0,0.0,0.0,0,0.571429,18.0,-31.0
1,17,CWHL,BOS,Meghan Grieves,F,None,None,None,None,None,...,8.0,0.0,0.0,0.0,0.0,0.0,0,0.500000,12.0,-32.0
2,23,CWHL,BOS,Melissa Bizzari,F,None,None,None,None,None,...,5.0,1.0,0.0,0.0,1.0,1.0,0,0.480000,8.0,-22.0
3,15,CWHL,BOS,Megan Myers,F,None,None,None,None,None,...,4.0,0.0,0.0,0.0,0.0,0.0,0,0.450000,10.0,-24.0
4,5,CWHL,BOS,Michelle Ng,F,None,None,None,None,None,...,1.0,0.0,0.0,0.0,0.0,0.0,0,0.450000,12.0,-9.0

In [36]:
CWHL_2017_format.columns

Index(['No', 'League', 'Team', 'Player', 'Pos', 'Ht', 'Rk', 'S', 'Age', 'Nat',
       'GP', 'G', 'A', 'A1', 'P', 'P1', 'ES G', 'ES A', 'ES A1', 'ES P',
       'ES P1', 'PP G', 'PP A', 'PP A1', 'PP P', 'PP P1', 'SH G', 'SH A',
       'SH A1', 'SH P', 'SH P1', 'ENG', 'Pts/GP', 'PIM', 'Pl/Mi'],
      dtype='object')

In [37]:
NWHL_2017.columns

Index(['No', 'League', 'Team', 'Player', 'Pos', 'Ht', 'Rk', 'S', 'Age', 'Nat',
       'GP', 'G', 'A', 'A1', 'P', 'P1', 'ES G', 'ES A', 'ES A1', 'ES P',
       'ES P1', 'PP G', 'PP A', 'PP A1', 'PP P', 'PP P1', 'SH G', 'SH A',
       'SH A1', 'SH P', 'SH P1', 'ENG', 'Pts/GP', 'PIM', 'Pl/Mi'],
      dtype='object')

In [38]:
CWHL_2017_format.shape

(152, 35)

In [39]:
NWHL_2017.shape

(86, 35)

## Concate NWHL and CWHL

In [40]:
WIH_2017 = pd.concat([NWHL_2017, CWHL_2017_format], ignore_index=True)

In [41]:
WIH_2017.shape

(238, 35)

In [42]:
WIH_2017.tail()

,No,League,Team,Player,Pos,Ht,Rk,S,Age,Nat,...,PP P1,SH G,SH A,SH A1,SH P,SH P1,ENG,Pts/GP,PIM,Pl/Mi
233,7,CWHL,VR,Bowen Jiang,F,None,None,None,None,None,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,2.0,-1
234,19,CWHL,VR,Yue Hou (total),D,None,None,None,None,None,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,22.0,-4
235,58,CWHL,VR,Jinqiu Xiao,D,None,None,None,None,None,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,-4
236,90,CWHL,VR,Jia Chao Xu,D,None,None,None,None,None,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,-1
237,56,CWHL,VR,Naixin Zhou,D,None,None,None,None,None,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,2